:root {
  --background: 13 14% 95%;
  --foreground: 13 5% 10%;
  --card: 13 14% 90%;
  --card-foreground: 13 5% 15%;
  --popover: 13 14% 95%;
  --popover-foreground: 13 95% 10%;
  --primary: 13 64.2% 60.6%;
  --primary-foreground: 0 0% 0%;
  --secondary: 13 14% 70%;
  --secondary-foreground: 0 0% 0%;
  --muted: -25 14% 85%;
  --muted-foreground: 13 5% 35%;
  --accent: -25 14% 80%;
  --accent-foreground: 13 5% 15%;
  --destructive: 0 50% 34%;
  --destructive-foreground: 13 5% 90%;
  --border: 13 20% 50%;
  --input: 13 20% 34%;
  --ring: 13 64.2% 60.6%;
  --radius: 0.5rem;
}
.dark {
  --background: 13 14% 10%;
  --foreground: 13 5% 90%;
  --card: 13 14% 10%;
  --card-foreground: 13 5% 90%;
  --popover: 13 14% 5%;
  --popover-foreground: 13 5% 90%;
  --primary: 13 64.2% 60.6%;
  --primary-foreground: 0 0% 0%;
  --secondary: 13 14% 20%;
  --secondary-foreground: 0 0% 100%;
  --muted: -25 14% 25%;
  --muted-foreground: 13 5% 60%;
  --accent: -25 14% 25%;
  --accent-foreground: 13 5% 90%;
  --destructive: 0 50% 34%;
  --destructive-foreground: 13 5% 90%;
  --border: 13 20% 34%;
  --input: 13 20% 34%;
  --ring: 13 64.2% 60.6%;
  --radius: 0.5rem;
}
