:root {
  /* 颜色变量 */
  --background: 262 76% 95%;
  --foreground: 262 5% 10%;
  --card: 262 50% 90%;
  --card-foreground: 262 5% 10%;
  --popover: 262 76% 95%;
  --popover-foreground: 262 95% 10%;
  --primary: 262 88% 44%;
  --primary-foreground: 0 0% 100%;
  --secondary: 262 30% 70%;
  --secondary-foreground: 0 0% 0%;
  --muted: 224 30% 85%;
  --muted-foreground: 262 5% 35%;
  --accent: 224 30% 80%;
  --accent-foreground: 262 5% 10%;
  --destructive: 0 76% 30%;
  --destructive-foreground: 262 5% 90%;
  --border: 262 30% 50%;
  --input: 262 30% 18%;
  --ring: 262 88% 44%;
  --radius: 0.5rem;
}
.dark {
  /* 暗黑模式颜色变量 */
  --background: 240 10% 12%;
  --foreground: 0 0% 90%;
  --card: 240 5% 18%;
  --card-foreground: 0 0% 90%;
  --popover: 240 5% 15%;
  --popover-foreground: 0 0% 90%;
  --primary: 260 60% 60%;
  --primary-foreground: 0 0% 100%;
  --secondary: 240 5% 25%;
  --secondary-foreground: 0 0% 90%;
  --muted: 240 5% 20%;
  --muted-foreground: 0 0% 60%;
  --accent: 240 5% 22%;
  --accent-foreground: 0 0% 90%;
  --destructive: 0 63% 31%;
  --destructive-foreground: 0 0% 90%;
  --border: 240 5% 25%;
  --input: 240 5% 25%;
  --ring: 260 60% 60%;
  --radius: 0.5rem;
}
